@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Montserrat&display=swap'); /* font-family: 'Fjalla One', sans-serif; or font-family: 'Montserrat', sans-serif; */

@font-face {
    font-family: 'Doctor Glitch';
    src: url('./fonts/Doctor\ Glitch.otf') format('opentype');
}

@font-face {
    font-family: 'Hexagon';
    src: url('./fonts/HEXAGON_.TTF') format('truetype');
}

* {
    margin: 0;
}

.header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    font-family: 'Fjalla One', sans-serif;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
    box-shadow: 1px 1px 2px black;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

.header__logo__main {
    width: 50vmin;
    height: auto;
    margin: 1vmin auto auto auto;
}

.header__logo {
    width: 12vmin;
    height: 12vmin;
    margin: 1vmin;
}

.header__logo_facebook {
    background-image: url(./images/facebook-logo-off.svg);
}

.header__logo_facebook:hover {
    background-image: url(./images/facebook-logo-on.svg);
}

.header__logo_tiktok {
    background-image: url(./images/tiktok-logo-off.svg);
}

.header__logo_tiktok:hover {
    background-image: url(./images/tiktok-logo-on.svg);
}

.header__logo_soundcloud {
    background-image: url(./images/soundcloud-logo-off.svg);
}

.header__logo_soundcloud:hover {
    background-image: url(./images/soundcloud-logo-on.svg);
}

.header__logo_youtube {
    background-image: url(./images/youtube-logo-off.svg);
}

.header__logo_youtube:hover {
    background-image: url(./images/youtube-logo-on.svg);
}

.header__logo_streaming {
    background-image: url(./images/streaming-logo-off.svg);
}

.header__logo_streaming:hover {
    background-image: url(./images/streaming-logo-on.svg);
}

.nav__list {
    font-family: 'Doctor Glitch';
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    text-shadow: 2px 2px 3px black;
}

a {
    text-decoration: none;
    font-size: 3.4vmin;
    color: white;
    padding-bottom: .5vh;
}

.section {
    height: 65vh;
    width: 100%;
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    align-content: space-evenly;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 1px 1px 2px black;
}

.section:first-of-type {
    margin-top: 30vh;
}

.section__title {
    padding: 1vh;
    font-size: 4vmin;
    font-weight: 600;
    text-decoration: underline;
    margin: auto;
}

.section__text {
    padding: .5vh;
    font-size: 2.8vmin;
    margin: auto;
}

.section__subtext {
    padding: .5vh;
    font-size: 2.2vmin;
    font-style: italic;
    margin: auto;
}
.iframe-container {
  position: relative;
  margin: auto;
  width: 50vw;
  height: 47vh;
  z-index: 0;
  box-shadow: 3px 3px 5px black;
}

.iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 3vmin;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Fjalla One', sans-serif;
    background-image: linear-gradient(to top, #b224ef 0%, #7579ff 100%);
    position: relative;
    bottom: 0;
    width: 100%;
    height: 10vh;
}

.footer__title {
    font-size: 4vmin;
}